* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579C87;
  padding: 15px 0;
  color: #FDCB46;
  font-family: sans-serif;
  text-align: center;
  letter-spacing: -0.2em;
  font-size: 1.5em; }

.bloc_menu {
  flex-wrap: wrap;
  display: flex;
  width: 60%;
  margin: 0 20%;
  padding-bottom: 7.5em;
  justify-content: center; }

.bloc_carte {
  width: 30%;
  margin: 2% 5%;
  overflow: hidden;
  box-shadow: 0 0 1.5em #E0E0E0; }

.bloc_carte img {
  width: 100%;
  height: 100%;
  transition: 0.2s; }

.bloc_carte:hover img {
  opacity: 0.5;
  width: 100%;
  transition: 0.2s;
  transform: scale(1.3); }

.bloc_carte_lien--background_menu1 {
  text-decoration: none; }

.bloc_carte__titre--font_menu1 {
  color: #3D1319;
  font-family: "Devonshire";
  font-size: 3em;
  font-weight: normal; }

.bloc_carte__paragraphe--font2_menu1 {
  font-family: "Segoe_Print_Bold";
  color: #3D1319;
  text-align: center; }

.bloc_carte__paragraphe--font {
  font-size: 4em;
  padding-top: 0.4em; }

.bloc_carte_lien--background_menu2 {
  background-color: #FFF5FE; }

.bloc_carte__titre--font_menu2 {
  font-family: "Croissant One";
  font-size: 2.3em;
  font-weight: normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #C77412, #A56799, #6E4CCC); }

.bloc_carte__paragraphe--font2_menu2 {
  color: #C77412;
  font-family: "Pax_bold"; }

.btn-next {
  font-family: sans-serif;
  padding-left: 3%;
  padding-right: 1%;
  color: #FDCB46;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #579C87;
  border-radius: 10px;
  margin: 10px 0 15px 0;
  display: flex; }

@keyframes bounce {
  0% {
    top: 0px; }
  50% {
    top: -5px; }
  100% {
    top: 0px; } }
#btn-next-1 {
  width: 3px;
  height: 3px;
  animation: bounce 0.7s ease infinite;
  position: relative;
  margin-left: 5px; }

#btn-next-2 {
  width: 3px;
  height: 3px;
  animation: bounce 0.7s ease infinite;
  animation-delay: 0.2s;
  position: relative;
  margin-left: 5px; }

#btn-next-3 {
  width: 3px;
  height: 3px;
  animation: bounce 0.7s ease infinite;
  animation-delay: 0.4s;
  position: relative;
  margin-left: 5px; }

#menu-a {
  background-color: #FCDFDB;
  color: #3D1319; }

.bloc_page_1 {
  flex-wrap: wrap;
  display: flex;
  width: 60%;
  margin: 0 20%;
  padding-bottom: 7.5em;
  justify-content: center;
  font-family: devonshire;
  font-size: 100%; }

.note-enchantee {
  margin-top: 30px;
  width: 30%;
  height: 170px; }

.note-enchantee img {
  width: 100%; }

.menu-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 100px; }

.left-line {
  margin-top: 10px;
  width: 30%;
  display: grid; }

.left-line img {
  width: 100%; }

.right-line {
  margin-top: 10px;
  width: 30%;
  display: grid; }

.right-line img {
  width: 100%;
  transform: scaleX(-1); }

.left-line_1 {
  margin-top: 30px;
  width: 30%;
  display: grid; }

.left-line_1 img {
  width: 100%; }

.right-line_1 {
  margin-top: 30px;
  width: 30%;
  display: grid; }

.right-line_1 img {
  width: 100%;
  transform: scaleX(-1); }

.text-title {
  text-align: center;
  width: 40%;
  font-size: 300%; }

.board-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 150%; }

.bloc_txt {
  width: 70%;
  text-align: left; }

.bloc_prix {
  width: 30%;
  font-size: 100%;
  text-align: right;
  display: grid; }

#menu-b {
  background-color: #FFF5FE; }

.bloc_page_2 {
  flex-wrap: wrap;
  display: flex;
  width: 60%;
  margin: 0 20%;
  padding-bottom: 7.5em;
  justify-content: center;
  font-size: 200%; }

.txt-title-menu2 {
  width: 60%; }

.text-title2 {
  color: #C77412;
  text-align: center;
  width: 40%; }

.title-menu2 {
  margin-top: 100px;
  text-align: center;
  font-family: "Croissant One";
  font-size: 150%;
  font-weight: normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #C77412, #A56799, #6E4CCC); }

.board-menu2 {
  color: #C77412;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 60%; }

.board-menu2_2 {
  color: #A56799;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 60%; }

.text-title2_2 {
  color: #A56799;
  text-align: center;
  width: 40%; }

.board-menu2_3 {
  color: #6E4CCC;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 60%; }

.text-title2_3 {
  color: #6E4CCC;
  text-align: center;
  width: 40%; }

#menu-c {
  background-color: #EDEFEF; }

.bloc_page_3 {
  flex-wrap: wrap;
  display: flex;
  width: 60%;
  margin: 0 20%;
  padding-bottom: 7.5em;
  justify-content: center;
  font-family: "Dancing Script";
  font-size: 200%; }

.txt-title-menu3 {
  width: 60%; }

.text-title3 {
  text-align: center;
  width: 40%; }

.title-menu3 {
  margin-top: 100px;
  text-align: center;
  font-family: "Dancing Script";
  font-size: 200%;
  font-weight: normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #0023DB, #0670F3, #229DF9); }

.board-menu3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%; }

.board-menu3_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%; }

.text-title3_2 {
  text-align: center;
  width: 40%; }

.board-menu3_3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%; }

.text-title3_3 {
  text-align: center;
  width: 40%; }

#menu-d {
  background-color: #FDFFFD; }

.bloc_page_4 {
  flex-wrap: wrap;
  display: flex;
  width: 60%;
  margin: 0 20%;
  padding-bottom: 7.5em;
  justify-content: center;
  font-family: "Kaushan Script";
  font-size: 200%; }

.txt-title-menu4 {
  width: 60%; }

.text-title4 {
  text-align: center;
  width: 40%; }

.title-menu4 {
  margin-top: 100px;
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 200%;
  font-weight: normal;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #72BF56, #3E923A, #BEFF7F); }

.left-line_4 {
  margin-top: 20px;
  width: 30%;
  display: grid; }

.left-line_4 img {
  width: 100%; }

.right-line_4 {
  margin-top: 20px;
  width: 30%;
  display: grid; }

.right-line_4 img {
  width: 100%;
  transform: scaleX(-1); }

.board-menu4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 60%; }

.board-menu4_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 60%; }

.text-title4_2 {
  text-align: center;
  width: 40%; }

.board-menu4_3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 60%; }

.text-title4_3 {
  text-align: center;
  width: 40%; }

.bloc_mentionleg {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 70px;
  justify-content: center;
  width: 60%;
  font-size: 1.1em; }

.bloc_txt_mentionleg {
  justify-content: center;
  background: rgba(87, 156, 135, 0.8); }

.txt_mentionleg {
  color: #FDCB46;
  margin-top: 40px; }

/*----- Footer */
footer {
  font-family: sans-serif;
  background: #579C87;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 45px;
  width: 98%;
  padding: 0 1%;
  padding-bottom: 5px;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  border: 1px #579C87 solid; }

h3 {
  font-size: 1.5rem;
  text-align: justify; }

a {
  text-decoration: none;
  color: #FDCB46; }

@keyframes wiggleAnim {
  0% {
    top: 0px;
    left: 0px; }
  25% {
    top: 1px;
    left: -4px; }
  50% {
    top: -1px;
    left: 3px; }
  75% {
    top: 1px;
    left: -4px; }
  100% {
    top: 0px;
    left: 0px; } }
.wiggle {
  position: relative; }

.wiggle:hover {
  animation: wiggleAnim 0.3s linear infinite; }

@media screen and (min-width: 1270px) {
  .bloc_menu {
    width: 30%;
    margin: 0 35%;
    margin-top: 10px; }

  .bloc_carte {
    width: 40%;
    margin: 2% 3%; } }
@media screen and (max-width: 800px) {
  .bloc_menu {
    width: 30%;
    margin: 0 35%;
    margin-top: 10px; }

  .bloc_carte {
    width: 100%;
    margin: 2% 3%; } }
